In [1]:
import pandas as pd
import numpy as np

In [2]:
array_a = np.array([[3, 2, 1], [6, 5, 4]])

In [3]:
df = pd.DataFrame(array_a, columns=['a', 'b', 'c'], index=['x', 'y'])
df

   a  b  c
x  3  2  1
y  6  5  4

In [4]:
data = pd.read_csv('Lending-company.csv', index_col='LoanID')
lending_co_data = data.copy()
lending_co_data.head()

,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
LoanID,,,,,,,,,,,,,,
1,LoanID_1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
3,LoanID_3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
5,LoanID_5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [5]:
lending_co_data.index

Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
       ...
       1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043],
      dtype='int64', name='LoanID', length=1043)

In [6]:
lending_co_data.columns

Index(['StringID', 'Product', 'CustomerGender', 'Location', 'Region',
       'TotalPrice', 'StartDate', 'Deposit', 'DailyRate', 'TotalDaysYr',
       'AmtPaid36', 'AmtPaid60', 'AmtPaid360', 'LoanStatus'],
      dtype='object')

In [7]:
lending_co_data.dtypes

StringID           object
Product            object
CustomerGender     object
Location           object
Region             object
TotalPrice        float64
StartDate          object
Deposit             int64
DailyRate           int64
TotalDaysYr         int64
AmtPaid36           int64
AmtPaid60           int64
AmtPaid360          int64
LoanStatus         object
dtype: object

In [8]:
type(lending_co_data['Location'])

pandas.core.series.Series

In [9]:
type(lending_co_data[['Location']])

pandas.core.frame.DataFrame

In [10]:
lending_co_data.index

Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
       ...
       1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043],
      dtype='int64', name='LoanID', length=1043)

## Accessing data using .loc and .iloc

In [11]:
lending_co_data['TotalPrice'].iloc[0]

17600.0

In [13]:
# lending_co_data['TotalPrice'][0] will not work because of label-based indexing
lending_co_data['TotalPrice'][1] # same outcome as above

17600.0

In [14]:
lending_co_data['TotalPrice'].loc[1] # Same but with label

17600.0

In [15]:
data = pd.read_csv('Lending-company.csv', index_col='StringID')
lending_co_data = data.copy()
lending_co_data.head()

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_1,1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
LoanID_2,2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
LoanID_3,3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
LoanID_4,4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
LoanID_5,5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [16]:
lending_co_data['TotalPrice'].iloc[0] # This still works despite the index change

17600.0

In [17]:
lending_co_data['TotalPrice'].loc['LoanID_1'] # Also works with NEW indes

17600.0

In [18]:
lending_co_data['TotalPrice'][0] 
# WILL work this time. 
# That's because the index is no longer a number (that gets interpreted as string/label)
# But instead the index is a string. Hence, addressing the first element with [0] works

C:\Users\shopp\AppData\Local\Temp\ipykernel_37252\1605473917.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  lending_co_data['TotalPrice'][0]

17600.0

In [19]:
lending_co_data['TotalPrice'][1] # This one now refers to the second element

C:\Users\shopp\AppData\Local\Temp\ipykernel_37252\410545112.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  lending_co_data['TotalPrice'][1] # This one now refers to the second element

nan

In [21]:
# Although the above works, it is not recommended to use it.
# Instead, use .iloc
lending_co_data['TotalPrice'].iloc[0]

17600.0

In [30]:
lending_co_data.TotalPrice['LoanID_1'] # Works, but is not recommended

17600.0

In [26]:
lending_co_data['TotalPrice']['LoanID_1'] # Works, but is (also) not recommended

17600.0

In [24]:
lending_co_data.loc['LoanID_1', 'TotalPrice'] # Recommended using loc (note the order)

17600.0

In [28]:
lending_co_data.loc[['LoanID_1', 'LoanID_6']] # Works, but is not recommended

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_1,1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
LoanID_6,6,Product A,Male,Location 34,Region 1,NaN,19/04/2019,2200,45,365,3301,4066,15141,Active

In [29]:
lending_co_data.loc[['LoanID_1', 'LoanID_6'], :] # Recommended for clarity

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_1,1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
LoanID_6,6,Product A,Male,Location 34,Region 1,NaN,19/04/2019,2200,45,365,3301,4066,15141,Active